<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>  
  
  <jsp-config>
  	  <taglib>
  		  <taglib-uri>struts-bean</taglib-uri>
  		  <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
  	  </taglib>
  	  <taglib>
  		  <taglib-uri>struts-logic</taglib-uri>
  		  <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
  	  </taglib>
      <taglib>
  		  <taglib-uri>struts-html</taglib-uri>
  		  <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
      </taglib>
  </jsp-config>
  
  <filter>
      <filter-name>adminAccess</filter-name>
      <filter-class>com.yxq.filter.AdminAccess</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>adminAccess</filter-name>
      <url-pattern>/needLogin/admin/*</url-pattern>
  </filter-mapping>  
  
  <filter>
      <filter-name>userAccess</filter-name>
      <filter-class>com.yxq.filter.UserAccess</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>userAccess</filter-name>
      <url-pattern>/needLogin/*</url-pattern>
  </filter-mapping>
  
</web-app>

